{% extends 'yukbeli/main.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    {% block content %}
    <h3>Thank You!</h3>
    <p>Thank you for your order. Below is the shipping address:</p>
    
    <ul>
        <li><strong>Address:</strong> {{ shipping.address }}</li>
        <li><strong>City:</strong> {{ shipping.city }}</li>
        <li><strong>State:</strong> {{ shipping.state }}</li>
        <li><strong>Zipcode:</strong> {{ shipping.zipcode }}</li>
    </ul>
    <p>Please Confirm the Information is correct:</p>
    <button value="Confirm" action="{% url 'home' %}">Confirm</button>
    {% endblock content%}
</html>